@charset "utf-8";
/* CSS Document */
/*
*{
	margin:0;
}

*/

.titulo{
	color:#FFF;
}

body{
	background-image:url(../img/bg.jpg);
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-shadow:1px 1px 0 rgba(0,0,0.3)
	text-align:center;
	}

header{
	width: 110%;
	background-image:url(../img/bnner.png);
	display:inline-block;
	text-align:center;
	}

.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
	height: 550px;
}

.scrollblock h2 {
	padding-top: 30px;
}

.table {
	background: rgb(206, 206, 206);
}

.calculadora{
	display: inline-table;
	}
/*
nav ul{
	padding:0;
	background:#2cc76a;
	font-size:0;
	}
nav ul li{
	display:inline-block;
	box-sizing:border-box;
	padding:10px;
	width:25%;
	font-size:16px;
	height:50px;
	vertical-align:top;
	
	}
nav ul li:hover{
	background:rgba(0,0,0,.3);
	}
	
nav ul li a{
	color:#000;
	text-transform:uppercase;
	}
	
nav ul li img{
	width:20%;
	height:50px;
	}

#contenedor{
	max-width:100%;
	margin:0 auto;
}
	
#web{
	text-align:center;
	padding:20px;
	}
	
#web article{
	text-align:left;
	padding:10px;
	margin:10px;
	color:#FFF;
	display:inline-block;
	background-color:#2d4c5c;
	-webkit-box-shadow: 10px 8px 8px -1px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 8px 8px -1px rgba(0,0,0,0.38);
	box-shadow: 10px 8px 8px -1px rgba(0,0,0,0.38);
	border-radius: 16px 16px 16px 16px;
	-moz-border-radius: 16px 16px 16px 16px;
	-webkit-border-radius: 16px 16px 16px 16px;
	border: 5px outset #ffffff;
	}	
	
#web article img{
	-webkit-transition:.2s;
	-moz-transition:.2s;
	
	}
	
#web article:hover img{
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	}

form{
	font-size:18px;
	margin:0 auto 0 auto; 
	width:590px;
	background: gray;
	}

	

.resultados{
	width:50%;
	height:600px;
	}



.boton_formulario{
	width:80px;
	height:30px;
background: rgba(44,199,106,1);
background: -moz-linear-gradient(top, rgba(44,199,106,1) 0%, rgba(44,199,106,1) 28%, rgba(44,199,106,1) 48%, rgba(17,156,73,1) 73%, rgba(17,156,73,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,199,106,1)), color-stop(28%, rgba(44,199,106,1)), color-stop(48%, rgba(44,199,106,1)), color-stop(73%, rgba(17,156,73,1)), color-stop(100%, rgba(17,156,73,1)));
background: -webkit-linear-gradient(top, rgba(44,199,106,1) 0%, rgba(44,199,106,1) 28%, rgba(44,199,106,1) 48%, rgba(17,156,73,1) 73%, rgba(17,156,73,1) 100%);
	
	}
*/	
@media only screen and (max-width:700px){


	.calculator{

	width: 410px;
}

.screen{
	width: 345px;
}

	h2{
		font-size: 20px;
	}

	h1{
		font-size: 20px;
	}

	p{
		font-size: 15px;
	}

	img{
		width: 30px;
	}

	

}


/*
@media only screen and (max-width:500px){
.calculator{

	width: 410px;
}

.screen{
	width: 345px;
}

}*/

.calculator {
    width:95%;
    height:auto;
    padding:10px 0;
    margin: auto;
    background:#232323;
    border:#000 1px solid;
    border-radius:7px;
    -webkit-border-radius:7px;
     -moz-border-radius:7px;
     box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
     -webkit-box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
     -moz-box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
     background-image:-moz-linear-gradient(top, #034964, #034964);
      background-image:-webkit-linear-gradient(top, #034964, #034964);
       background-image:linear-gradient(top, #034964, #034964);
     overflow: hidden;
     text-align: center;
}

.screen {
     width:90%;
     /*height:93px;*/
    margin: 12px auto 30px;
     padding:15px 20px;
     color:#FFFFFF;
     text-align: right;
     /*font-size: 3em;*/
     letter-spacing: 3px;
     overflow:hidden;
     border:#000 1px solid;
     border-radius:7px;
     -webkit-border-radius:7px;
     -moz-border-radius:7px;
     box-shadow:inset rgba(0,0,0,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
     -webkit-box-shadow:inset rgba(0,0,0,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
     -moz-box-shadow:inset rgba(0,0,0,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
     background-image: -moz-linear-gradient(top, #156E91 0%, #156E91 100%);
      background-image: -webkit-linear-gradient(top, #156E91 0%, #156E91 100%);
      background-image: linear-gradient(top, #156E91 0%, #156E91 100%);
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
}

.buttons {
     padding:0;
     width:423px;
     margin:auto;
     overflow: hidden;
     list-style: none;
}
.buttons li {
     display:inline;
     float:left;
     padding:0px;
     margin-right:13px;
     margin-bottom:10px;
}
.buttons li:nth-child(4n) {
     margin-right:0;
}

.buttons a{
     display:block;
     width:95px;
     height:68px;
     padding:18px 0 12px;
     color:#FFFFFF !important;
     font-family: "Myriad Pro", Arial, sans-serif;
     font-size:1.6em;
     font-weight: 500;
    letter-spacing: -2px;
    background-color:#2f2f2f;
     border: #000 1px solid;
     border-radius:5px;
     -webkit-border-radius:5px;
     -moz-border-radius:5px;
     text-align: center;
     text-decoration: none;
    text-shadow:#000 0px -1px 0px;
     box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
     -webkit-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
     -moz-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
    background-image:-moz-linear-gradient(top, #30e5d9 0%, #2cb3ba 40%, #30e5d9 100%);
      background-image: -webkit-linear-gradient(top, #30e5d9 0%, #2cb3ba 40%, #30e5d9 100%);
       background-image:linear-gradient(top, #30e5d9 0%, #2cb3ba 40%, #30e5d9 100%);
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     box-sizing:border-box;
     cursor: pointer;
}
.buttons a:active{
     box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
     background-image:-moz-linear-gradient(top, #2f2f2f 0%, #363636 100%);
      background-image:-webkit-linear-gradient(top, #2f2f2f 0%, #363636 100%);
       background-image:linear-gradient(top, #2f2f2f 0%, #363636 100%);
}
.tall{height:151px !important;}
.wide{width:420px !important;}
.shift{margin-top:-78px;}

.ctrls{
 list-style: none;
 margin:5px 0 0 20px;
 padding:0;
 position: absolute;
}
.ctrls li{
 float:left;
 display:inline;
}
.ctrls li a{
 display: block;
 width:18px;
 height:18px;
 margin-right:10px;
 border-radius:100%;
 box-shadow:rgba(255,255,255,0.3) 0px 0px 1px, inset rgba(0,0,0,1) 0px 1px 2px 1px;
 background-image: -moz-radial-gradient( 9px -4px, #FFF 0px, #fff 2px, rgba(255,255,255,0) 4px), -moz-linear-gradient(bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
 background-image: -webkit-radial-gradient( 9px -4px, #FFF 0px, #fff 2px, rgba(255,255,255,0) 4px), -webkit-linear-gradient(bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
 background-image: radial-gradient( 9px -4px, #FFF 0px, #fff 2px, rgba(255,255,255,0) 4px), linear-gradient(bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
}



$('input:radio').screwDefaultButtons({ 
	image: "url(images/radio.jpg)",
	width:	 85,
	height:	 85
});
